body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      height: 100%;
  }

img {
	width: 35%;
	background: #CECEF6;
	margin: 0;
}

ul li {
	background:#CCCEF6;
	text-decoration:none;
		margin: auto;
}
    .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 1px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}
navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}